b*{
  box-sizing: border-box;
}
table th, td{
  border: 0px solid black;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;   
}
p:nth-child(3){
  font-size: 40px;
}
body>table{
  margin: 100px;
 border-radius: 10px;
 overflow: hidden;
}
tr:nth-child(odd) 
td:nth-child(odd) {
  background: rgb(219, 219, 219);
}
  tr:nth-child(even) 
  td:nth-child(odd) {
    background: rgb(255, 255, 255);
}
  tr:nth-child(2n-1) 
  td:nth-child(2n) {
    background:rgb(231, 231, 231);
}
th:first-child{
  background: rgb(120, 135, 171);
}
th:nth-child(2){
  background: rgb(79, 98, 142);
}
th:nth-child(3){
  background: rgb(46, 65, 114);
}
th:nth-child(4){
  background: rgb(22, 41, 85);
}
th:nth-child(5){
  background: rgb(6, 21, 57);
}
th:nth-child(1n-5){
  color: white;
  font-size: 25px;
}
