*{
  box-sizing: border-box;
}
table th, td{
  border: 0px solid black;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;   
}
p:nth-child(2){
  font-size: 70px;
  padding-top: 50px;
}
body>table{
  margin: 100px;
 border-radius: 10px;
 overflow: hidden;
}
th:first-child {background: #7887ab;
  vertical-align: middle;
}

th:nth-child(2){background:#4f628e}

th:nth-child(3){background:#2e4172}

th:nth-child(4){background:#162955}

th:nth-child(5){background:#061539}

thead{color: white;}

tr:nth-child(odd) > td:nth-child(odd) {
  background: #dbdbdb;
}

tr:nth-child(even) > td:nth-child(odd) {
  background: #ececec;
}

tr:nth-child(odd) > td:nth-child(even) {
  background:#e7e7e7;
}
tr:nth-child(even) > td:nth-child(even){
  background:#fff;
}
